In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests

# File to Load
city_data_to_load = "weather_data/cities.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)

# Import the API key.
from config import G_key

In [9]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2021-01-02 00:50:23,42.10,-79.24,33.01,95,90,13.35
1,1,Atuona,PF,2021-01-02 00:50:24,-9.80,-139.03,78.15,73,0,15.52
2,2,Auki,SB,2021-01-02 00:50:24,-8.77,160.70,87.49,60,100,1.59
3,3,Butaritari,KI,2021-01-02 00:50:24,3.07,172.79,80.94,77,89,17.65
4,4,Pacific Grove,US,2021-01-02 00:50:24,36.62,-121.92,55.40,76,1,5.82

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=G_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5, map_type='HYBRID')

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5, map_type='HYBRID')
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5, map_type='HYBRID')
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of Windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5, map_type='HYBRID')
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-01-02 00:50:24,-9.80,-139.03,78.15,73,0,15.52
2,2,Auki,SB,2021-01-02 00:50:24,-8.77,160.70,87.49,60,100,1.59
3,3,Butaritari,KI,2021-01-02 00:50:24,3.07,172.79,80.94,77,89,17.65
5,5,San Nicolas,PH,2021-01-02 00:50:25,18.17,120.60,75.20,73,20,6.93
6,6,Rikitea,PF,2021-01-02 00:50:25,-23.12,-134.97,78.15,69,95,11.27
10,10,Dingle,PH,2021-01-02 00:50:26,11.00,122.67,80.02,84,100,11.86
12,12,The Valley,AI,2021-01-02 00:50:26,18.22,-63.06,78.80,57,40,13.87
14,14,Saint-Philippe,RE,2021-01-02 00:50:27,-21.36,55.77,77.00,69,0,13.87
15,15,Kihei,US,2021-01-02 00:50:27,20.79,-156.47,82.40,48,40,23.04
19,19,Aquiraz,BR,2021-01-02 00:50:28,-3.90,-38.39,80.60,83,40,9.17

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
1           Atuona      PF     78.15  -9.80 -139.03
2             Auki      SB     87.49  -8.77  160.70
3       Butaritari      KI     80.94   3.07  172.79
5      San Nicolas      PH     75.20  18.17  120.60
6          Rikitea      PF     78.15 -23.12 -134.97
10          Dingle      PH     80.02  11.00  122.67
12      The Valley      AI     78.80  18.22  -63.06
14  Saint-Philippe      RE     77.00 -21.36   55.77
15           Kihei      US     82.40  20.79 -156.47
19         Aquiraz      BR     80.60  -3.90  -38.39

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": G_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,78.15,-9.80,-139.03,Villa Enata
2,Auki,SB,87.49,-8.77,160.70,Auki Motel
3,Butaritari,KI,80.94,3.07,172.79,Isles Sunset Lodge
5,San Nicolas,PH,75.20,18.17,120.60,NORTHVIEW Hotel
6,Rikitea,PF,78.15,-23.12,-134.97,Pension Maro'i
10,Dingle,PH,80.02,11.00,122.67,SEGAYA PROPERTY
12,The Valley,AI,78.80,18.22,-63.06,CeBlue Villas & Beach Resort
14,Saint-Philippe,RE,77.00,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
15,Kihei,US,82.40,20.79,-156.47,Maui Sunset
19,Aquiraz,BR,80.60,-3.90,-38.39,Hotel Laguna Blu

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5, map_type='HYBRID')
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))