## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import G_key

# Configure gmaps
gmaps.configure(api_key=G_key)

In [99]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Resources/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,6,Georgetown,MY,84.20,few clouds,5.41,100.34,Cititel Penang
1,7,Vaini,TO,80.60,broken clouds,-21.20,-175.20,Keleti Beach Resort
2,11,Carnarvon,AU,86.00,clear sky,-24.87,113.63,Hospitality Carnarvon
3,13,Port Macquarie,AU,84.00,few clouds,-31.43,152.92,Rydges Port Macquarie
4,17,Busselton,AU,87.01,clear sky,-33.65,115.33,Observatory Guest House

In [100]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [101]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5, map_type='HYBRID')
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [80]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
#Country = AU. Cities = Port Macquarie, Nelson Bay, Forbes, Wagga Wagga

vacation_start = vacation_df.loc[(vacation_df.City == 'Port Macquarie') & (vacation_df.Country == "AU")]
vacation_end = vacation_df.loc[(vacation_df.City == 'Port Macquarie') & (vacation_df.Country == "AU")]
vacation_stop1 = vacation_df.loc[(vacation_df.City == 'Nelson Bay') & (vacation_df.Country == "AU")]
vacation_stop2 = vacation_df.loc[(vacation_df.City == 'Forbes') & (vacation_df.Country == "AU")]
vacation_stop3 = vacation_df.loc[(vacation_df.City == 'Wagga Wagga') & (vacation_df.Country == "AU")]

vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,13,Port Macquarie,AU,84.0,few clouds,-31.43,152.92,Rydges Port Macquarie

In [81]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
start

array([-31.43, 152.92])

In [82]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING')

fig.add_layer(trip)
#Show Figure
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,13,Port Macquarie,AU,84.00,few clouds,-31.43,152.92,Rydges Port Macquarie
1,499,Nelson Bay,AU,86.00,few clouds,-32.72,152.15,Mantra Nelson Bay
2,627,Forbes,AU,84.99,broken clouds,-33.38,148.02,Lake Forbes Motel
3,456,Wagga Wagga,AU,84.99,clear sky,-35.12,147.37,The Club Motel and Apartments
4,13,Port Macquarie,AU,84.00,few clouds,-31.43,152.92,Rydges Port Macquarie

In [97]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [98]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(map_type='HYBRID')
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))